# get from api key from https://ai.google.dev
GEMINI_API_KEY=

# >> OPTIONAL
# your app url, eg. https://www.gemchat.com
NEXT_PUBLIC_URL=
# your plausible script url, (self hosted or managed)
NEXT_PUBLIC_PLAUSIBLE_SCRIPT_PATH=